    <header id="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!-- return to landing page -->
        <a class="navbar-brand" href="#"><img src ="/Public/assets/haticon.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <!-- view high scores on top left and timer on top right -->
              <a class="nav-link active" id="viewHighScore" aria-current="page" href="#">View High Scores</a>
            </li>
            <li class="nav-item">
              <!-- game page only visible when logged in -->
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
          <span class="navbar-text timer">Timer</span>
          <span class="navbar-text">
            Logged in user name
          </span>
        </div>
        </div>
      </nav>

      <!-- extra: timer not visible until quiz starts -->
      <p id="seconds"></p>
    </header>
           <section class="container my-5">
    <!-- Use row class to create row in the container -->
    <div class="row">
      <!-- Use col-* classes for different column sizes on different screens -->
      <div class="col-12 col-md-8 col-lg-9 text-center">
        <h1>Hangman</h1>
        <h2>_ _ _ _ _ _ _ _ </h2>
        <img src="/Public/assets/kermit.png">
        <p>
          Buttons? Wrong input letters?
        </p>
        <div>
          <button type="button" class="btn btn-outline-success">Play Game</button>
        </div>
        <div id="highScores"></div>
        <div id="resetBox">
          <button type="button" class="btn btn-outline-success">Reset</button>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <h2>Chat here, Partner</h2>
        <ul>
          <li>Spans 3 / 12 columns on large screens</li>
          <li>Spans 4 / 12 columns on medium screens</li>
          <li>Spans 12 / 12 (full-width) on smaller screens</li>
        </ul>
      </div>
    </div>
  </section>