:root {
  --off-white: #fbf9f4;
  --lt-tan: #dba570;
  --cooler-lt-tan: #b7916f;
  --lt-yellow: #f4d796;
  --salmon-red:#c15252;
  --med-brown: #7f5539;
  --deep-brown: #4d351f;
  --black-brown: #262623;
  --olive-green: #84761d;
  --deep-olive: #3f4c1f;
  --burnt-orange: #bf4925;
}

body {
    background-color: var(--lt-yellow);
}

body h1 {
  font-family: "Rye", cursive;
  color: var(--med-brown);
}

body h2 {
  font-family: "Rye", cursive;
  color: var(--med-brown);
}

.navbar {
    background-color: var(--cooler-lt-tan);
}

.navbar a:link {
    color: var(--off-white);
}

.navbar a:visited {
    color: var(--deep-olive)
}

header img {
  height: 5vh;
}

.timer {
    padding-right: 2vw;
}

.btn-outline-success {
  color: var(--deep-brown);
  outline-color: var(--deep-brown);
  font-family: "Rye", cursive;
  margin-bottom: 1vh;
}

.hide {
  display: none;
}

footer {
  background-color: var(--burnt-orange);
  color: var(--off-white);
}

footer a:link {
  color: var(--off-white);
  text-decoration: none;
}

footer a:visited {
  color: var(--olive-green);
}

.fa-github {
  color: var(--off-white);
  margin-right: 1vw;
}

.card {
  color: var(--med-brown);
    font-family: "Rye", cursive;
}

