:root {
  --off-white: #fbf9f4;
  --lt-tan: #dba570;
  --cooler-lt-tan: #b7916f;
  --lt-yellow: #f4d796;
  --salmon-red: #c15252;
  --med-brown: #7f5539;
  --deep-brown: #4d351f;
  --black-brown: #262623;
  --olive-green: #84761d;
  --deep-olive: #3f4c1f;
  --burnt-orange: #bf4925;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--lt-tan);
}

body h1 {
  font-family: "Rye", cursive;
  color: var(--off-white);
}
.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: var(--deep-brown);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: var(--olive-green);
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: var(--burnt-orange);
  color: white;
}
.login_btn:focus {
  box-shadow: none;
  outline: 0px;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: var(--burnt-orange);
  color: white;
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}
.input_user,
.input_pass:focus {
  box-shadow: none;
  outline: 0px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--burnt-orange);
}

.valid-link a:link {
  color: var(--olive-green);
  text-decoration: none;
  margin-left: 1vw;
}

.valid-link a:visited {
  color: var(--lt-yellow);
  text-decoration: none;
  margin-left: 1vw;
}

footer a:link {
  color: var(--deep-olive);
  text-decoration: none;
}

footer a:visited {
  color: var(--med-brown);
}

.fa-github {
  color: var(--off-white);
  margin-right: 1vw;
}
