:root {
  --off-white: #fbf9f4;
  --med-brown: #7f5539;
  --deep-brown: #50292b;
  --olive-green: #84761d;
  --burnt-orange: #c6603a;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header h1 {
  font-family: "Rye", cursive;
  color: var(--off-white);
}

header img {
  height: 5vh;
}

footer {
  background-color: var(--burnt-orange);
  color: var(--off-white);
}

footer a:link {
  color: var(--off-white);
  text-decoration: none;
}

footer a:visited {
  color: var(--olive-green);
}

